{
  "nixpkgs": {
    "expr": "import (builtins.getFlake (builtins.toString ./.)).inputs.nixpkgs { }"
  },
  "options": {
    "nixos": {
      "expr": "(builtins.getFlake (builtins.toString ./.)).nixosConfigurations.HOSTNAME.options"
    },
    "home-manager": {
      "expr": "(builtins.getFlake (builtins.toString ./.)).nixosConfigurations.HOSTNAME.options.home-manager.users.type.getSubOptions []"
    }
  }
}
