* {
  all: unset;
}

popover {
  background: @surface0;
  border: 1px solid @surface2;
  border-radius: 12px;
  padding: 8px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @base;
  padding: 12px;
  border-radius: 14px;
  border: 1px solid alpha(@accent, 0.4);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @subtext0;
}

.search-container {
  border-radius: 10px;
  margin-bottom: 8px;
}

.input {
  caret-color: @accent;
  background: @mantle;
  color: @text;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid @surface1;
}

.input:focus,
.input:active {
  border-color: alpha(@accent, 0.6);
}

.input placeholder {
  color: @overlay0;
}

.input selection {
  background: alpha(@accent, 0.35);
  color: @text;
}

.list {
  color: @text;
}

.item-box {
  border-radius: 8px;
  padding: 8px 10px;
  color: @text;
}

.item-quick-activation {
  background: alpha(@accent, 0.2);
  color: @accent;
  border-radius: 5px;
  padding: 4px 8px;
}

child:selected .item-box,
row:selected .item-box {
  background: alpha(@accent, 0.2);
  color: @text;
}

.item-subtext {
  font-size: 12px;
  color: @subtext0;
}

.providerlist .item-subtext {
  font-size: unset;
  color: @subtext1;
}

.item-image-text {
  font-size: 28px;
  color: @accent;
}

.preview {
  border: 1px solid @surface1;
  border-radius: 10px;
  color: @text;
  padding: 8px;
  background: @mantle;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.calc .item-text {
  font-size: 24px;
  color: @accent;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  color: @overlay0;
}

.todo.urgent {
  font-size: 24px;
  color: @red;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  color: @overlay0;
}

.keybinds {
  padding-top: 10px;
  border-top: 1px solid @surface0;
  font-size: 12px;
  color: @subtext0;
}

.keybind-button {
  color: @subtext0;
}

.keybind-button:hover {
  color: @text;
  cursor: pointer;
}

.keybind-bind {
  text-transform: lowercase;
  color: @overlay0;
}

.keybind-label {
  padding: 2px 6px;
  border-radius: 4px;
  border: 1px solid @surface2;
  color: @subtext1;
}

.error {
  padding: 10px;
  background: alpha(@red, 0.2);
  color: @red;
  border-radius: 6px;
}

:not(.calc).current {
  font-style: italic;
  color: @accent;
}

.preview-content.archlinuxpkgs,
.preview-content.dnfpackages {
  font-family: monospace;
}
