/* set GTK_DEBUG=interactive waybar for easy iteration */
* {
    all: unset;
}

window#waybar {
    font-family: "SF ProText Nerd Font";
    font-size: 1rem;
}

.module {
    border-radius: 4px;
    background: #2d282e;
    padding: 0 6px;
    margin: 2px 8px;
}

/* hyprland/window prolly */
.modules-left {
    font-weight: bold;
}

window#waybar.empty #window {
    opacity: 0;
}
